@media screen and (max-width: 1200px) {
  .main {
    max-width: 950px;
    height: auto;
    font-size: 12px;
  }
  .main__block {
  }
  .main__img-block {
    max-width: 450px;
  }
  .main__img {
    max-width: 400px;
  }
}
