/* @media (max-width: 1260px) {
  .container {
    width: 100%;
    background-color: aquamarine;
  }
  .container__img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    font-size: 12px;
    background-color: blueviolet;
  }
} */
